@import "./preEdit.scss";

@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {

  scroll-behavior: smooth;
  
}

.top-section{

    @include frstSectPreset();

}

.par-section{

    padding-top: 3%;                
    padding-bottom: 5%;
    text-align: center;
    font-family: "Jost", sans-serif;
    font-weight: normal;
    font-size: 55px;

}

.form-section{

    .form-element{
        
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding-bottom: 50px;
  
          input{
  
              width: 20%;
              height: 70px;
              border: 1px solid #8e8e8e;
              border-radius: 50px;
              font-size: 27px;
              font-family: "Jost", sans-serif;
              padding: 2% 1%;
              text-align: start; 
              color : #8e8e8e;
  
          }
  
          input:focus{
  
              outline: none;
  
          }

          select{
                     
            width: 20%;
            height: 70px;
            border: 1px solid #8e8e8e;
            border-radius: 50px;
            font-size: 27px;
            font-family: "Jost", sans-serif;
            padding-left: 1%;
            color: #8e8e8e;


              option{
                  font-size: 23px;

                  &::after{
                      color: rgb(255, 255, 255);
                  }
              }
    }
  
  }

}

.button-element{

    @include buttonPreset();

}